.shit {
    background: red;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.mat-icon-rtl-mirror {
    padding: 100px;
    color: red;
}

.totalInterface {
    display: flex;
    height: 100%;
    width: 100%;
}